In [1]:
print(type('안녕하세요'))

<class 'str'>

In [2]:
print(type(273))

<class 'int'>

In [3]:
print('\'안녕하세요\'라고 말했습니다.')

'안녕하세요'라고 말했습니다.

In [5]:
print("안녕하세요\n안녕하세요")

안녕하세요
안녕하세요

In [6]:
print("안녕하세요\t안녕하세요")

안녕하세요	안녕하세요

In [7]:
print("이름\t나이\t지역")

이름	나이	지역

In [8]:
print("윤인성\t25\t강서구")

윤인성	25	강서구

In [9]:
print('윤아린\t24\t강서구')

윤아린	24	강서구

In [10]:
print('구름\t3\t강서구')

구름	3	강서구

In [11]:
print("동해물과 백두산이 마르고 닳도록\n하느님이 보우하사 우리나라 만세\n무궁화 삼천리 화려강산 대한사람\n대한으로 길이 보전하세")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

In [42]:
print("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

In [13]:
print('안녕'+'하세요')

안녕하세요

In [14]:
print('안녕하세요'*5)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [15]:
print('문자 선택 연산자에 대해 알아볼까요')

문자 선택 연산자에 대해 알아볼까요

In [16]:
print('안녕하세요'[0])

안

In [17]:
print('안녕하세요'[1])

녕

In [18]:
print('안녕하세요'[2])

하

In [20]:
print('안녕하세요'[-1])

요

In [21]:
print('안녕하세요'[-1])

요

In [22]:
print("안녕하세요"[2:5])

하세요

In [23]:
print("안녕하세요"[:3])

안녕하

In [24]:
print('안녕하세요'[0:2])

안녕

In [25]:
print('안녕하세요'[1:3])

녕하

In [26]:
print('안녕하세요'[:4])

안녕하세

In [30]:
hello = '안녕하세요'
print(hello[:2])

안녕

In [31]:
print(len('안녕하세요'))

5

In [32]:
print(len(hello))

5

In [33]:
print(5)

5

In [40]:
print("#연습문제")
print("\\\\\\\\")
print("-"*8)

#연습문제
\\\\
--------

In [43]:
print(273)

273

In [44]:
print(type(52))

<class 'int'>

In [45]:
print(type(52.273))

<class 'float'>

In [46]:
print("3/2=", 3/2)

3/2= 1.5

In [47]:
print("3//2=", 3//2)

3//2= 1

In [51]:
print("5%2=", 5%2)

print("5//2=", 5//2)

5%2= 1
5//2= 2

In [52]:
print("4%2", 4%2)

4%2 0

In [53]:
print("2**1=", 2**1)

2**1= 2

In [55]:
string=5
number=273
string + number

278

In [57]:
print("3462를 17로 나우었을 때의")
print("-몫:", 203)
print("-나머지:",11)

3462를 17로 나우었을 때의
-몫: 203
-나머지: 11