In [2]:
a = [1,2,3,[4,5,6]]

In [3]:
a[-1]

[4, 5, 6]

In [5]:
a[2:4]

[3, [4, 5, 6]]

In [10]:
a=[1,2,3]
b=[4,5,6,7]
a+b

[1, 2, 3, 4, 5, 6, 7]

In [7]:
3*a

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
len(b)

4

In [13]:
a = [1,2,3]

a

In [24]:
a[1]

IndexError: list index out of range

In [22]:
del a[1]

In [19]:
a=[1,2,3,4,5]

In [20]:
del a[2:]

In [21]:
a

[1, 2]

In [26]:
a=[1,2,3]

In [28]:
a.append(4)

In [29]:
a

[1, 2, 3, 4]

In [30]:
a.append([5,6])

In [31]:
a

[1, 2, 3, 4, [5, 6]]

In [32]:
a=[1,4,3,2]

In [34]:
a.sort()

In [36]:
a=['b','d','c','a']

In [37]:
a.sort()

In [38]:
a

['a', 'b', 'c', 'd']

In [40]:
a.reverse()

In [41]:
a

['d', 'c', 'b', 'a']

In [42]:
a=[1,2,3]

In [43]:
a.index(3)

2

In [44]:
a.index(1)

0

In [45]:
a=[1,2,3]

In [46]:
a.insert(0,4)

In [47]:
a

[4, 1, 2, 3]

In [48]:
a.insert(3,5)

In [49]:
a

[4, 1, 2, 5, 3]

In [50]:
a=[1,2,3,1,2,3]

In [51]:
a.remove(3)

In [52]:
a

[1, 2, 1, 2, 3]

In [53]:
a.remove(3)

In [54]:
a

[1, 2, 1, 2]

In [55]:
a = [1,2,3]

In [56]:
a.pop()

3

In [57]:
a

[1, 2]

In [59]:
a=[1,2,3]

In [60]:
a.pop(1)

2

In [61]:
a

[1, 3]

In [62]:
a=[1,2,3,1]

In [64]:
a.count(3)

1

In [65]:
a=[1,2,3]

In [66]:
a.extend([4,5])

In [67]:
a

[1, 2, 3, 4, 5]

In [72]:
t1=(1,)

In [71]:
t1=()

In [70]:
t2=(1,)

In [74]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [75]:
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [76]:
t2[0]

1

In [77]:
t3=[1,2,3,4,5]

In [78]:
t3[0:2]

[1, 2]

In [79]:
a={1:'hi'}

In [80]:
a

{1: 'hi'}

In [81]:
a = {'a':[1,2,3]}

In [82]:
a

{'a': [1, 2, 3]}

In [83]:
a={1:'a'}

In [84]:
a[2]='b'

In [85]:
a

{1: 'a', 2: 'b'}

In [89]:
a[3]='name':'pey'

SyntaxError: invalid syntax (<ipython-input-89-caa1c34e7a9c>, line 1)

In [87]:
a

{1: 'a', 2: 'b', 3: {'name': 'pey'}}

In [93]:
grade = {'pey':10, 'julliete':99}

In [94]:
grade['pey']

10

In [104]:
a = { 'name' : 'pey', 'phone' : '01099993323', 'birth' : '1118' }

In [105]:
'email' in a

False

In [106]:
'name' in a

True

In [107]:
s2 = set('Hello')

In [109]:
s2

{'H', 'e', 'l', 'o'}

In [110]:
number = 100

In [113]:
number += 10 # number = number + 10

In [112]:
number

110

In [114]:
number = number + 10

In [115]:
number

130

In [118]:
string = '안녕하세요'
string += '!'

In [119]:
string

'안녕하세요!'

TypeError: can only concatenate str (not "int") to str

In [1]:
string_a = input('입력A>')
int_a = int(string_a)

print(string_a)
print(int_a)

print(type(string_a))
print(type(int_a))

print(string_a + string_a)
print(int_a + int_a)

입력A>123
123
123
<class 'str'>
<class 'int'>
123123
246

In [2]:
output_a=int('52')
output_b=float('52.273')

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.273

In [8]:
output_a=str(52)
output_b=str(52.273)

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.273

In [10]:
string_a = "{}".format(10)
print(string_a)
print(type(string_a))

10
<class 'str'>

In [13]:
format_a='{}만 원' .format(5000)
format_b='파이썬 열공하여 첫 연봉 {}만 원 만들기' .format(10000)
format_c='{} {} {}' .format(3000, 4000, 5000)
format_d='{} {} {}' .format(1, '문자열', True)

print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공하여 첫 연봉 10000만 원 만들기
3000 4000 5000
1 문자열 True

In [15]:
output_a = '{:d}'.format(52)

output_b = '{:5d}'.format(52)
output_c = '{:10d}'.format(52)

output_d = '{:05d}'.format(52)
output_e = '{:05d}'.format(-52)

print('# 기본')
print(output_a)
print('# 특정 칸에 출력하기')
print(output_b)
print(output_c)
print('# 빈칸을 0으로 채우기')
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸을 0으로 채우기
00052
-0052

In [16]:
a= 'Hello Python Programming...!'
a.upper()

'HELLO PYTHON PROGRAMMING...!'

In [17]:
a= 'Hello Python Programming...!'
a.lower()

'hello python programming...!'

In [20]:
input_a= '''
        안녕하세요.
문자열의 함수를 알아봅니다.
'''
print(input_a)

        안녕하세요.
문자열의 함수를 알아봅니다.

In [21]:
print(input_a.strip())

안녕하세요.
문자열의 함수를 알아봅니다.

In [22]:
print('TrainA10'. isalnum())

True

In [23]:
print('TrainA10!'. isalnum())

False

In [27]:
print('1025'. isdigit())

True

In [29]:
output_a = '안녕안녕하세요'.find('안녕')
print(output_a)

0

In [30]:
output_a = '안녕안녕하세요'.rfind('안녕')
print(output_a)

2

In [32]:
print('안녕' in '안녕하세요')
print('잘자' in '안녕하세요')

True
False

In [33]:
a= '10 20 30 40 50'.split(' ')
print(a)

['10', '20', '30', '40', '50']

In [34]:
print(10 == 100)

False

In [35]:
print(10 != 100)

True

In [38]:
x = 10
under_20 =  x < 20
print('under_20:', under_20)
print('not under_20:', not under_20)

under_20: True
not under_20: False

In [41]:
number = input('정수 입력>')
number = int(number)

if number > 0:
    print('양수입니다')
if number < 0:
    print('음수입니다.')
if number == 0:
    print('0입니다')

정수 입력>-25
음수입니다.

In [44]:
!pip install datetime
import datetime

now = datetime.datetime.now()
now

Requirement already satisfied: datetime in c:\programdata\anaconda3\lib\site-packages (4.3)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from datetime) (2020.1)
Requirement already satisfied: zope.interface in c:\programdata\anaconda3\lib\site-packages (from datetime) (5.1.2)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from zope.interface->datetime) (50.3.1.post20201107)

datetime.datetime(2020, 12, 22, 14, 15, 35, 915671)

In [ ]:
print(now.year, '년')
print(now.month, '월')
print(now.day, '일')
print(now.hour, '시')
print(now.minute, '분')
print(now.second, '초')