In [2]:
treeHit = 0
while treeHit < 10:
    treeHit += 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [4]:
prompt = '''
1. Add
2. Del
3. List
4. Quit

Enter number: '''

number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [5]:
coffee = 10
money = 300
while money:
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee -1
    print('남은 커피의 양은 %d개입니다.' % coffee)
    if coffee == 0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [7]:
coffee = 10
while True:
    money = int(input('돈을 넣어 주세요.:'))
    if money == 300:
        print('커피를 줍니다.')
        coffee = coffee -1
    elif money > 300:
        print('거스름돈 %d를 주고 커피를 줍니다.' % (money -300))
        coffee = coffee -1
    else:
        print('돈을 다시 돌려주고 커피를 주지 않습니다.')
        print('남은 커피의 양은 %d개입니다.' % coffee)
    if coffee == 0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 넣어 주세요.:10000
거스름돈 9700를 주고 커피를 줍니다.
돈을 넣어 주세요.:100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개입니다.
돈을 넣어 주세요.:a = 0

ValueError: invalid literal for int() with base 10: 'a = 0'

In [13]:
a = 0
while a < 10:
    a = a +1
    if a % 2 == 1: continue
    print(a)

2
4
6
8
10

In [14]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [19]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [18]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark >= 60:
        print('%d번 학생은 합격입니다.' % number)
    else:
        print('%d번 학생은 불합격입니다.' % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [20]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print('%d번 학생 축하합니다. 합격입니다.' % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [21]:
range(10)

range(0, 10)

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [26]:
add = 0
for i in range(1, 11):
    add = add + i
print(add)

55

In [28]:
marks = [90, 25, 67, 45, 80]

number = 0
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print('%d번 학생 축하합니다. 합격입니다.' % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [37]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=' ')
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [41]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [50]:
i = 1
result = 0
while i <= 1000:
    if i % 3 == 0:
        result = result + i
    i = i + 1

print(result)

166833

In [ ]:
i = 0
while True:
    if i <= 5:
        print('*' * i)
        i = i + 1

*
**
***
****
*****

In [8]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [45]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
Sum = 0

for i in score:
    Sum = Sum + i
    average = Sum / len(score)
print(Sum)
print(average)

790
79.0

In [22]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [30]:
numbers = [1, 2, 3, 4, 5]
result = [i * 2 for i in numbers if i % 2 == 1]
print(result)

[2, 6, 10]

In [1]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
Sum=sum(score)
print(Sum)
avg = Sum / len(score)
print(avg)

790
79.0

In [2]:
example_list = ['요소A', '요소B', '요소C']
i = 0
for item in example_list:
    print('{}번째 요소는 {}입니다.' .format(i, item))
    i += 1

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [5]:
example_list = ['요소A', '요소B', '요소C']

print(list(enumerate(example_list)))

for i, value in enumerate(example_list):
    print('{}번째 요소는 {}입니다.' .format(i, value))

[(0, '요소A'), (1, '요소B'), (2, '요소C')]
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [6]:
example_dictionary = {
    '키A' : '값A',
    '키B' : '값B',
    '키C' : '값C',
}

print(example_dictionary.items())

dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])

In [7]:
for key, element in example_dictionary.items():
    print('{} = {}'.format(key,element))

키A = 값A
키B = 값B
키C = 값C

In [8]:
array = []

for i in range(0, 20, 2):
    array.append( i * i)
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [10]:
array = [i * i for i in range(0, 20, 2)]

print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [11]:
array = ['사과', '자두', '초콜릿', '바나나', '체리']
output = [fruit for fruit in array if fruit != '초콜릿']
print(output)

['사과', '자두', '바나나', '체리']

In [16]:
number = int(input('정수 입력'))

if number % 2 == 0:
    print('\n'.join([
        '입력한 문자열은 {}입니다.',
        '{}는(은) 짝수입니다.'
          ]).format(number, number))
else:
    print('\n'.join([
        '입력한 문자열은 {}입니다.',
        '{}은(는) 홀수입니다.'
        ]).format(number, number))

정수 입력25
입력한 문자열은 25입니다.
25은(는) 홀수입니다.

In [17]:
numbers = [1, 2, 3, 4, 5, 6]
r_num = reversed(numbers)
r_num

In [18]:
numbers = [1, 2, 3, 4, 5, 6]
r_num = list(reversed(numbers))
r_num

[6, 5, 4, 3, 2, 1]

In [20]:
numbers = [1, 2, 3, 4, 5, 6]
r_num = reversed(numbers)

print('reversed_numbers :', r_num)
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))

reversed_numbers : <list_reverseiterator object at 0x00000148D1D45370>
6
5
4
3
2

In [39]:
def print_3_times():
    print('안녕하세요.')
    print('안녕하세요.')
    print('안녕하세요.')

In [40]:
print_3_times()

안녕하세요.
안녕하세요.
안녕하세요.

In [41]:
def print_n_times(value, n):
    for i in range(n):
        print(value)
print_n_times('안녕하세요.', 5)

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [51]:
def print_n_times(value, n):
    for i in range(n):
        print(value)
print_n_times('뽀뽀뽀', 3)

뽀뽀뽀
뽀뽀뽀
뽀뽀뽀

In [55]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        
        print()
    
print_n_times(2, '안녕하세요', '적당히 바람이 시원해', '놀기가 참 좋아요', '대항온합시다')

안녕하세요
적당히 바람이 시원해
놀기가 참 좋아요
대항온합시다

안녕하세요
적당히 바람이 시원해
놀기가 참 좋아요
대항온합시다

In [56]:
def print_n_times(value, n=2):
    for i in range(n):
        print(value)

In [64]:
print_n_times('하이', 5)

하이
하이
하이
하이
하이

In [65]:
def print_n_times(n=2, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

In [66]:
print_n_times('내가', '진짜로 원하는게 뭐야')

TypeError: 'str' object cannot be interpreted as an integer

In [67]:
def print_n_times(*values, n=2):
    for i in range(n):
        for value in values:
            print(value)
        print()

In [71]:
print_n_times('내가', '진짜로', '원하는게 뭐야', n=3)

내가
진짜로
원하는게 뭐야

내가
진짜로
원하는게 뭐야

내가
진짜로
원하는게 뭐야

In [73]:
def print_n_times(*values, n=2):
    for i in range(n):
        for value in values:
            print(value)
            
        print()
    
print_n_times('안녕하세요', '즐거운', '파이썬 프로그래밍', n=3)

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

In [74]:
def test(a, b=10, c=100):
    print(a+b+c)
    
test(10, 20, 30)

test(a=10, b=100, c=200)

test(c=10, a=100, b=200)

test(10, c=200)

60
310
310
220

In [76]:
def return_test():
    print('A 위치입니다.')
    return
    print('B 위치입니다.')
return_test()

A 위치입니다.

In [77]:
def return_test():
    return 100

return_test()

100

In [81]:
def sum_all(start, end):
    output = 0
    for i in range(start, end + 1):
        output += i
    return output

print('0 to 100:', sum_all(0, 100))
print('0 to 1000:', sum_all(0, 1000))
print('50 to 100:', sum_all(50, 100))
print('500 to 1000:', sum_all(500, 1000))

0 to 100: 5050
0 to 1000: 500500
50 to 100: 3825
500 to 1000: 375750

In [84]:
def sum_all(start=0, end=100, step=1):
    output = 0
    for i in range(start, end + 1, step):
        output += i
    return output

print('A.', sum_all(0, 100, 10))
print('B.', sum_all(end=100))
print('C.', sum_all(end=100, step=2))

A. 550
B. 5050
C. 2550

In [86]:
def factorial(n):
    output = 1
    for i in range(1, n + 1):
        output *= i
    return output

print('1!:', factorial(1))
print('2!:', factorial(2))
print('3!:', factorial(3))
print('4!:', factorial(4))
print('5!:', factorial(5))

1!: 1
2!: 2
3!: 6
4!: 24
5!: 120

In [88]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print('1!:', factorial(1))
print('2!:', factorial(2))
print('3!:', factorial(3))
print('4!:', factorial(4))
print('5!:', factorial(5))

1!: 1
2!: 2
3!: 6
4!: 24
5!: 120